#transform-3d {
z-index: 1000;
width: 10px;
height: 10px;
padding: 20px;
overflow: auto;
margin: auto;
background-color: rgb(196, 215, 255);
-webkit-transition: all 1s ease;
-webkit-transform: perspective(305)
translate3d(0px, 0px, 90px)
scale3d(.7, .7, .7)
rotate3d(1, 0, 0, 30deg);
}
